.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  padding: 20px;
}
.card-header {
  display: flex;
}

.card-leftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.card-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 35px;
  font-weight: 800;
  background-color: rgb(255, 51, 0);
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 50%;
}

.card-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

h1,
h2 {
  margin: 5px;
  padding: 0;
}
h1 {
  font-size: 25px;
  font-weight: 600;
}
h2 {
  font-size: 15px;
  font-weight: 400;
}
h3 {
  font-weight: 400;
}
.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card-description {
  font-weight: 400;
  text-align: left;
  line-height: 20px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.count {
  font-weight: 700;
}

.App {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
